

@font-face {
    font-family: 'norseregular';
    src: url('font/norse-webfont.woff2') format('woff2'),
         url('font/norse-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'norsebold';
    src: url('font/norsebold-webfont.woff2') format('woff2'),
         url('font/norsebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    width:100%;
    height:100%;
    background-color: black;
}

.left-container{
    width:40vw;
    height:1000px;
    background-image: url("img/background-1.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    color:white;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    

}
.title-container{
    display:flex;
    background-color: transparent;
    background-color: black;
    background-color: transparent;
    background: rgb(0 0 0 / 40%); 
    justify-content: center;
    height:150px;
    margin-top: 225px;
    color:white;
    align-items: center;
}
.title-container img{
    height: 125px;
   
}
.img-label{
    height:100%;
    display:flex;
    align-items:center;
    font-size: 90px;
    font-family: "norsebold";
    
}
.left-footer{
    background-color: transparent;
    text-align: center;
    padding:10px;
    color:#E5E7EB;
    font-size: 16px;

}



.right-container{
    width:65vw;
    display:flex;
    flex-direction: column;

}
.header{
    background-color: #E5E7EB;
    height:375px;
    display:flex;
    flex-direction: column;
    justify-content: end;
    font-weight: bold;
    font-size: 24px;
    padding: 42px;
}
.top-text{
    margin-bottom: 30px;
    width:650px;
}
.bottom-text{
    margin-bottom: 30px;
}
.form-container{
    border-top: 1px solid black;
    
    height:300px;
    background-color: white;
}
legend{
    padding:12px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 24px;
}
.text-container{
    display:flex;
    flex-wrap: wrap;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding:12px;
    padding-left: 40px;
    background-color: white;
    
}
p{
    display:flex;
    flex-direction: column;
    padding-top: 14px;
    background-color: white;
    padding-right: 70px;
    font-size: 14px;
   
    
}

input{
   width:250px;
   height:30px;
   border: 1px solid #E5E7EB;

}
.submit-container{
    padding-left:40px;
    background-color: #E5E7EB;
    padding-top:40px;
    
}
.text-container:nth-child(2), .text-container:nth-child(5){
    padding-bottom: 40px;
    
}
button{
    background-color: #596D48;
    width:230px;
    height:50px;
    border-radius: 8px;
    color:white;
    font-weight: bold;
    font-size: 18px;
}
.already_account{
    margin-top:32px;
    font-size: 18px;
}
.submit-container a{
    color:#596D48;
    font-weight: bold;
}

.footer{
    background-color: #E5E7EB;
    height:200px;

}


input:valid{
    border: 1px solid #E5E7EB;
}

input:invalid{
    border: 1px solid red;
}

input:focus{
    border:1px solid blue;
}

